[data-tooltip] {
    position: relative;
}

[data-tooltip]:after {
    display: none;
    position: absolute;
    font-size: 17px;
    top: 27px;
    padding: 5px;
    border-radius: 3px;
    content: attr(data-tooltip);
    white-space: nowrap;
    background-color: grey;
    color: White;
}

[data-tooltip]:hover:after {
    display: block;
}

.text-header{
    margin-left: 5px;
    color: #fff;
}

.container-acess-geral a {
    font-size: 12px;
}

#primary-menu{
    display: flex;
    justify-content: center;

}

#menu-menu-cabecalho{
    display: flex;
    justify-content: space-around;
    min-width: 1220px;
    font-weight: bold;
}

.menu-item{
    flex-grow: 1;
}

.menu-item a{
    font-size: 20px;
    font-weight: 600;
}

.container-acess-geral{
    position: fixed;
    background-color: #494949;
    width: 100%;
    display: flex;
    justify-content: center;  
    font-family: 'Roboto';
    z-index: 1;
}

.container-controle{
    position: static;
    display: flex;
    min-width: 1180px;
    justify-content: space-between;
}

.controle-esquerda, .controle-direita{
    list-style: none;
    padding: 6px 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.controle-esquerda *, .controle-direita * {
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.controle-esquerda a:hover, .controle-direita a:hover{
    color: rgb(246,246,246, 0.8);
}

.funcoes-controle{
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.img-center{
    margin-right: 5px;
}

.tm-font{
    cursor: pointer;
}

.zero{
    margin-left: -9px;
}

.VIpgJd-ZVi9od-xl07Ob-lTBxed{
    margin-right: -10px;
}

/* Alto contraste */

.alto_contraste_teste .article,
.alto_contraste_teste .button-home, 
.alto_contraste_teste .botao-galeria, 
.alto_contraste_teste .container-suporte, 
.alto_contraste_teste .container-sistemas{
    background-color: #333333 !important;
}
.alto_contraste_teste .article h3, 
.alto_contraste_teste .text, 
.alto_contraste_teste .container-sistemas h2, 
.alto_contraste_teste .title-sistemas,
.alto_contraste_teste .alto_contraste_teste{
    color: #fff !important;
}

.alto_contraste_teste img, 
.alto_contraste_teste #custom_html-5,
.alto_contraste_teste .botao-comunicados{
    filter: grayscale(1) !important;
}

.alto_contraste_teste .sub-title-home, 
.alto_contraste_teste .title-interna, 
.alto_contraste_teste .hover, 
.alto_contraste_teste .direct-link,
.alto_contraste_teste .entry-content a,
.alto_contraste_teste #text,
.alto_contraste_teste .has-inline-color{
    color: #333333 !important;
}

.alto_contraste_teste .hover, 
.alto_contraste_teste .direct-link{
    background-color: #D4D3D3 !important;
}

.alto_contraste_teste .linha, 
.alto_contraste_teste .sub-title-home,
.alto_contraste_teste #text_voltar_topo span,
.alto_contraste_teste .title-interna{
    border-bottom-color: #333333 !important;
}

/* Media query */

@media only screen and (max-width: 1200px) {
    .container-controle{
        min-width: 95%;
    }

    .controle-direita *{
        font-size: 1em;
    }

    .funcoes-controle:nth-child(1){
        margin-right: -3px;
    }
}
@media only screen and (max-width: 767px){
    .container-acess-geral {
        display: none;
    }
}
