:root {
    font-size: 10px;
}

* {
    font-size: 1.4rem;
    font-family: Roboto, sans-serif;
    line-height: 1.2;
    color: #000;
}

a {
    color: #0a3299;
    font-weight: 700;

}

a:hover {
    text-decoration: underline;
}

.separate-containers article .inside-article {
    padding: 0;
}

.separate-containers .page-header {
    padding: 0;
}

h2, h2 a {
    font-size: 1.6rem;
}

.separate-containers article.type-page {
    margin-bottom: 60px;
}