* {
    font-size: 1.4rem;
    font-family: Roboto, sans-serif;
    line-height: 1.2;
    color: #000;
}

a {
    color: #777;
    font-weight: 700;

}

a:hover {
    color: #0a3299;
}

.separate-containers article .inside-article {
    padding: 10px;
}