.main-navigation a {
	text-decoration: none;
	font-weight: normal;
	text-transform:uppercase;
	font-size: 20px;
	flex-grow: initial;
	display:flex;
}
.main-navigation .main-nav ul li a{
	color: #000;
	font-family: 'Roboto';
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	flex-grow: initial;
	display:flex;
}

input:focus-visible {
	outline-color: #395aad;
}

h2{
	color:#000;
}
body{
	font-family: 'Roboto';
}
.menu-bar-items{
	display: flex;
	justify-content: space-around;
}
.grid-container{
	display: flex;
	justify-content: space-around;
}

.main-navigation .main-nav ul li > a {
	text-transform: uppercase;
}

.inside-navigation{
	display: flex;
	justify-content: space-around;
}

/* Remove as setas do menu superior */
@media (min-width: 769px) {
    .menu-item-has-children a > .dropdown-menu-toggle {
        display: none;
    }

    .main-navigation .main-nav ul li.menu-item-has-children > a {
        padding-right: 20px !important;
    }
}

/* Pesquisa */
.container-search {
	min-width: 0;
	width: 100%;
	max-width: 1200px;
	padding: 24px 10px;
	box-sizing: border-box;
}

#divBusca {
	display: flex;
	height: 60px;
}

.botao-pesquisa {
	border-radius: 5px;
	border: 1px solid #395aad;
	outline: #395aad auto 1px;
	outline-offset: 1px;
	padding-top: 6px;
	min-width: 160px;
	height: 60px;
	background: #0a3399;
}

.botao-pesquisa:hover,
.botao-pesquisa:active,
.botao-pesquisa:focus {
	background-color: #395aad;
}

.botao-pesquisa:disabled {
	outline: unset;
	background-color: #f5f5f5;
	border-color: #e3e3e3;
}

.botao-pesquisa svg path {
	stroke: #fff;
}

.botao-pesquisa:disabled svg path {
	stroke: #000;
}

.botao-pesquisa:hover {
	background-color: #fafafa;
}

#barra-pesquisa {
	width: 100%;
	border-radius: 5px;
	padding-left: 30px;
	font-size: 1.4rem;
	color: #666666;
	border: 2px solid #E3E3E3;
	border-right: none;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: -3px;
	font-family: Roboto, sans-serif;

}

.lupa {
	width: 38px;
}

@media only screen and (max-width: 1210px) {
	#divBusca {
		min-width: 90%;
	}
}