.main-navigation a {
	text-decoration: none;
	font-weight: normal;
	text-transform:uppercase;
	font-size: 20px;
	flex-grow: initial;
	display:flex;
}
.main-navigation .main-nav ul li a{
	color: #000;
	font-family: 'Roboto';
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	flex-grow: initial;
	display:flex;
}

h2{
	color:#000;
}
body{
	font-family: 'Roboto';
}
.menu-bar-items{
	display: flex;
	justify-content: space-around;
}
.grid-container{
	display: flex;
	justify-content: space-around;
}

.main-navigation .main-nav ul li > a {
	text-transform: uppercase;
}

.inside-navigation{
	display: flex;
	justify-content: space-around;
}

/* Remove as setas do menu superior */
@media (min-width: 769px) {
    .menu-item-has-children a > .dropdown-menu-toggle {
        display: none;
    }

    .main-navigation .main-nav ul li.menu-item-has-children > a {
        padding-right: 20px !important;
    }
}

/* Pesquisa */
.container-search {
	padding: 10px;
	display: flex;
	justify-content: center;
	width: 1400px;
	margin-left: 20px;
}

#divBusca {
	display: flex;
	min-width: 1200px;
	height: 61px;
}   

.button{
	border-radius: 5px;
	border: 2px solid #E3E3E3;
	background: #F5F5F5;
	width: 152px;
	margin-right: 20px;
	height: 61px;
}
.button:hover{
	background-color: #fafafa;
}

#txtBusca {
	width: 100%;
	border-radius: 5px;
	padding-left: 30px;
	font-size: 1.25em;
	color: #666666;
	border: 2px solid #E3E3E3;
	border-right: none;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	margin-right: -3px;

}

.lupa {
	width: 38px;
}

@media only screen and (max-width: 1210px) {
	#divBusca {
		min-width: 90%;
	}
}