
body{
    font-family: 'Open Sans';
}

.button-home1{
    text-decoration: none;
    color: white;
    background: #0A3399;
    padding: 15px 50px;
    border-radius: 7px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: sans-serif;
    display: inline-block;
    margin-bottom: 30px;
}

.button-home{
    text-decoration: none;
    color: white;
    background: #0A3399;
    padding: 15px 50px;
    border-radius: 7px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: sans-serif;
}

.section-bnt{
    margin: 40px 0 60px;
}

.button-home:hover{
    color: #fff;
    background-color: #34529e;
    transition: 200ms;
}
.button-home1:hover{
    color: #fff;
    background-color: #34529e;
    transition: 300ms;
}

html{
    font-family: sans-serif;
}

.button-home:visited{
    color: white;
}


/* adiciona */

#page{
    max-width: 1200px;
}

#primary{
    max-width: 900px;
    padding: 0%;
}

.inside-right-sidebar{
    max-width: 280px;
    margin-left: 10px;
}
#main{
    margin-right: 10px;
    margin-left: 10px;
}

.section-title{
    display: flex;
    position: relative;
}

.sub-title-home{
    color: #395AAD;
    font-size: 20pt;
    border-bottom: 6px solid #395AAD; 
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 5px;
}

.linha{
    position: absolute;
    margin-top: 31px;
    width: 100%;
    border-bottom: 1px solid #395AAD;
}

.article{
    background: rgb(246,246,246);
    margin: 20px 0;
    padding: 20px;
    height: 100%;
}
.article:hover{
    background: rgb(235, 235, 235);
    transition: 300ms;
}

.sub-title{
    font-size: 16px;
    color: #000;
    font-weight: 700;
    font-style: normal;
    font-weight: bold;
}

.text{
    font-size: 14px;
    word-break: break-all;
    color: #000;
    font-weight: 400;
}

.section-bnt{
    margin: 40px 0 60px;
}

.conteiner-papoUrbanoo{
    display: flex;
}

.exp-img{
    background: #D4D3D3;
    display: flex;
    width: 1000px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    
}

.mediun-img img{
    width: 200px;
}

.exp-img-cheio{
    background: #D4D3D3;
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.img-galeria{
    display: flex;
    justify-content: center;
}

/* barra de pesquisa */

/* Menu principal/home */

/* tira o botao nativo de voltar ao topo */

@media only screen and (max-width: 768px) {
        #menu-menu-cabecalho{
        display: none;
    }
}

@media only screen and (max-width: 1210px) {
    .container-pesquisa{
        min-width: 90%;
    }
    .container-controle{
        min-width: 90%;
    }

}
