
:root{
    --color-text-text-botao:#fff;

}
body{
    font-family: 'Roboto';
}

.button-home1{
    text-decoration: none;
    color: var(--color-text-text-botao);
    background: #0A3399;
    padding: 15px 50px;
    border-radius: 7px;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: sans-serif;
    display: inline-block;
    margin-bottom: 30px;
}

.button-home{
    text-decoration: none;
    color: white;
    background: #0A3399;
    padding: 15px 50px;
    border-radius: 7px;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: sans-serif;
}

.section-bnt{
    margin: 40px 0 60px;
}

.button-home:hover{
    color: #fff;
    background-color: #34529e;
    transition: 200ms;
}
.button-home1:hover{
    color: #fff;
    background-color: #34529e;
    transition: 300ms;
}

html{
    font-family: sans-serif;
}

.button-home:visited{
    color: white;
}


/* adiciona */

#page{
    max-width: 1200px;
}

#primary{
    min-width: 900px;
    padding: 0%;
}

.inside-right-sidebar{
    max-width: 280px;
    margin-left: 10px;
}
#main{
    margin-right: 10px;
    margin-left: 10px;
}

.entry-header .section-title {
    width: 75%;
}

.section-title {
    display: flex;
    position: relative;
}

.sub-title-home, .title-interna {
    color: #395AAD;
    border-bottom: 6px solid #395AAD; 
    display: inline-block;
    font-size: 2.0rem;
    font-weight: 700;
    padding-bottom: 5px;
    margin-bottom: 0;
}



.linha {
    position: absolute;
    bottom: 2px;
    width: 100%;
    border-bottom: 1px solid #395AAD;
}

.article{
    background: rgb(246,246,246);
    margin: 20px 0;
    padding: 20px;
    height: 100%;
    transition: rgb(246,246,246, 0.3) 100ms;
}
.article:hover{
    background: rgb(235, 235, 235);
    transition: 300ms;
}

.sub-title{
    font-size: 1.6rem;
    color: #000;
    font-weight: 700;
    font-style: normal;
}

.text{
    font-size: 1.4rem;
    word-break: break-all;
    color: #000;
    font-weight: 400;
}

.section-bnt{
    margin: 40px 0 60px;
}

.container-materia{
    display: flex;
}

.exp-img{
    background: #D4D3D3;
    display: flex;
    width: 1000px;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    
}

.mediun-img img{
    width: 200px;
}

.exp-img-cheio{
    background: #D4D3D3;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.img-galeria {
    display: flex;
    justify-content: center;
    height: 165px;
}

.img-conteudo {
    height: 165px;
    min-width: 270px;
}

.img-comunicados {
    height: 330px;
}

.site-header .header-image {
    margin-top: 31px;
}

article .article.inside-article {
    padding: 20px;
}

section .inside-section {
    padding: 0;
}

#back-to-top{
    display: none;
}

/* barra de pesquisa */

/* Menu principal/home */

/* tira o botao nativo de voltar ao topo */

@media only screen and (max-width: 1200px) {
    /* .container-pesquisa{
        min-width: 90%;
    }
    .container-controle{
        min-width: 90%;
    } */
    .site-content{
        min-width: 0px !important;
    }
    #primary {
        min-width: 0px;
        width: 100%;
        padding: 0%;
    }
    .sidebar{
        display: none;
    }
    .container-cont{
        min-width: 0px !important;
    }
    .container-cont{
        display: block !important;
    }
    .site{
        padding: 0 15px;
    }
}

@media only screen and (max-width: 767px){
    .site-header .header-image {
        margin-top: 0;
    }
}