.container-carregando {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

.carregando-animacao {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #0a3399;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}

.carregando-mensagem {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    color: #000;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hidden {
  display: none;
}

#carregando-contatos.container-carregando {
  margin-bottom: 100vh;
}