#text_voltar_topo {
    display: flex;
    justify-content: right;
}
#text_voltar_topo a{
    text-decoration: none;
}

.text_back {
    margin-right: 90px;
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: #0A3299 !important;
    border-bottom: 1px solid #0A3299;
}

.text_back:hover {
    color: #0A3299;
}

#menu-rodape {
    margin: 0;
    padding: 0;
}

.conteiner-footer {
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: center;        
}

.container-cont {
    display: flex;
    justify-content: left;
    min-width: 1200px;
    padding: 30px 0;
}

.sub-title-footer {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.barra-footer {
    width: 5px;
    height: 190px;
    background-color: #fff;
}

.menu-footer {
    margin-left: 3%;
}

#menu-rodape .menu-item {
    list-style: none;
    padding: 3px 0;
    margin: 0;
}
#menu-rodape .menu-item:nth-child(1){
    padding-top: 0;
}

#menu-rodape .menu-item a {
    color: rgb(250, 250, 250, 0.8);
    font-size: 14px;
    font-weight: 400;
}

#menu-rodape .menu-item a:hover {
    color: rgb(250, 250, 250);
}

.menu-footer{
    padding-left: 15px;
}

.text-footer {
    font-size: 14px;
    color: rgb(250, 250, 250, 0.8);
}

.informacoes-prefeitura {
    margin: 0 60px 0 10px;
}

.email-footer {
    color: rgb(250, 250, 250, 0.8);
    letter-spacing: 0.5px;
}

.lista-sistemas-footer{
    list-style: none;
    padding: 2px 0;
}
.lista-sistemas-footer a{
    color: rgb(250, 250, 250, 0.8);
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}
.lista-sistemas-footer a:hover{
    color: rgb(250, 250, 250, 0.6);
}
.menu-sistemas{
    display: none;
}


@media only screen and (max-width: 1200px) {
    .container-cont{
        min-width: 0px !important;
    }
    .menu-sistemas{
        display: block;
    }
    .informacoes-prefeitura, .menu-footer {
        margin: 0;
    }
    .menu-sistemas .sub-title-footer{
        margin-top: 12px;
    }
    .links li, .menu li{
        padding: 4px 0;
    }
    .menu-footer{
        padding-left: 0px;
    }
    .img-footer{
        padding-bottom: 15px;
    }
    .informacoes-prefeitura, .menu-footer{
        border-bottom: 3px solid white;
        margin-bottom: 14px;
        padding-bottom: 21px;
    }
    .barra-footer{
        display: none;
    }
}