.site-content {
  min-width: 900px;
  max-width: 1200px;
}

table,
td,
th {
  border-collapse: collapse;
}

th,
td {
  border: 0.1px solid #000;
  color: #000;
  font-family: "Open Sans" sans-serif;
  border-collapse: separate;
  padding: 20px;
}

th {
  text-align: center;
  font-size: 1.6rem;
  background-color: #f6f6f6;
}

th a {
  color: #000;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.3);
}

.link:hover {
  opacity: 0, 7;
  color: #000;
}

td {
  font-size: 1.4rem;
}
