
<div class="form-contatos">

<input type="text" id="search" placeholder=""> <button id="searchButton">Buscar</button>
    <input type="text" id="search" placeholder=""> <button id="searchButton">Buscar</button>
    <input type="text" id="search" placeholder=""><button id="searchButton">Buscar</button>
    
</div>
<!-- Os resultados da busca serão exibidos aqui -->
<ul class="alfabeto">
    <li>A</li>
    <li>B</li>
    <li>C</li>
    <li>D</li>
    <li>E</li>
    <li>F</li>
    <li>G</li>
    <li>H</li>
    <li>I</li>
    <li>J</li>
    <li>K</li>
    <li>L</li>
    <li>M</li>
    <li>O</li>
    <li>P</li>
    <li>Q</li>
    <li>R</li>
    <li>S</li>
    <li>T</li>
    <li>U</li>
    <li>V</li>
    <li>W</li>
    <li>X</li>
    <li>Y</li>
    <li>Z</li>
</ul>
<style>
    ul,
    li {
        display: inline;
        color: #395AAD;
        font-family: 'Roboto';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 13.9px;
        max-width: 1400px;
        padding:6px;
    }

    .alfabeto {
        display: FLEX;
        list-style: none;

    }

    .form-contatos {
        display: grid;
        grid-template-columns: 3fr 3fr 3fr;
        grid-gap: 20px;
        max-width: 1200px;
    
    }

    .form-contatos input[type="text"] {
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        grid-column: 1;
        grid-template-rows: 10fr;
        width: 640px;
        height: 40px;
        text-align: left;
      margin-left:10px;
    }

    #searchButton {
        width: 115px;
        height: 40px;
        font-size: 14px;
        background-color: #F5F5F5;
        color: #BDBDBD;
        border-radius: 5px;
        cursor: pointer;
        border: 2px solid #E3E3E3;

        /* Espaçamento entre o campo de  botão */
    }
</style>