
<table width="1021">
    <tbody>
        <tr>
            <th rowspan="2" width="391"><a class="link"
                    href ="http://sf9433.app.prodam/intranet/forms_apresentacao/cac/frm_cac_01_login.aspx">SISZON -
                    Sistema de Zoneamento</a></th>
            <td width="630">Legado, desenvolvido em alta plataforma (db2), que armazena e consulta informações
                alfanuméricas de zoneamento</td>
        </tr>
        <tr>
            <td width="630">Permite a consulta de filiação de lote a partir da replicação de dados do TPCL (alta
                plataforma) associados ao zoneamento histórico e vigente</td>
        </tr>
        <tr>
            <th width="391">MUT - Modelo de Uso de Solo Territorial</th>
            <td width="630">O principal objetivo do sistema é o gerenciamento de informações relativas ao zoneamento do
                município, ou seja, a legislação geral de parcelamento, uso e ocupação do solo.</td>
        </tr>
        <tr>
            <th width="391">Outorga Onerosa</th>
            <td width="630">Sistema para consulta dos dados referentes à outorga onerosa do direito de construir e
                estoques de potencial construtivo adicional, residencial e não residencial do Município.</td>
        </tr>
        <tr>
            <th width="391">SIG SP - Sistema de Informação Geográfica do Município de São Paulo (INTRANET)</th>
            <td width="630">SIG-SP Sistemas de Informações Geográficas do Município de São Paulo INTRANET</td>
        </tr>
        <tr>
            <th width="391"><a class="link" href="http://mapas.geosampa.prodam/PaginasPublicas/_SBC.aspx">GeoSampa Cidadão
                    (INTERNET)</a></th>
            <td width="630">SIG-SP Sistemas de Informações Geográficas do Município de São Paulo INTERNET.</td>
        </tr>
        <tr>
            <th width="391"><a class="link" href="http://cp0308.app.prodam/consultasiszon/FormsRestrict/frmConsultaSQCL.aspx">SISZON
                    Geosiszon</a></th>
            <td width="630">Tem como objetivo viabilizar a manutenção das informações de zoneamento de forma
                georreferenciada.</td>
        </tr>
        <tr>
            <th width="391">SISZON - Aplicação  WEB de Carga do ZONEAMENTO</th>
            <td width="630">Interface web que permite a automação da carga das informações de zoneamento na alta
                plataforma</td>
        </tr>
        <tr>
            <th width="391">Eleição do Conselho Municipal de Políticas Urbanas CMPU</th>
            <td width="630">Sistema para realização das eleições do Conselho Municipal de Políticas Públicas CMPU</td>
        </tr>
        <tr>
            <th width="391">Função Social da Propriedade</th>
            <td width="630">Função Social da Propriedade para cadastro de imóveis ociosos.</td>
        </tr>
        <tr>
            <th width="391"><a class="link" href="http://sd0219.app.prodam/intranet/forms/consultarhistorico.aspx">CEDI – Cadastro de
                    Edificações </a></th>
            <td width="630">Manter atualizado o cadastro dos imóveis edificados na cidade de SP paralelamente ao IPTU e
                SISACOE, fornecendo aos interessados documentos legais das edificações.</td>
        </tr>
        <tr>
            <th width="391">SISACOE - Contr.de Edificações e Obras</th>
            <td width="630">Sistema para gerenciamento e emissão dos vários tipos de Alvarás expedidos pela PMSP a
                partir de solicitações dos munícipes, mediante requerimentos feitos via Internet ou manuais.</td>
        </tr>
        <tr>
            <th width="391">SLC II - Licenciamento Eletrônico II</th>
            <td width="630">Sistema utilizado para protocolar as solicitações de Certificados de Conclusão, Alvarás de
                Tapume, Alvarás de Autorização para GRUA, Comunicações de Transferência de Responsabilidade Técnica,
                emissão dos documentos, além das guias de taxa UOS.</td>
        </tr>
        <tr>
            <th width="391">Relatórios Gerenciais do SISACOE</th>
            <td width="630">Permite gerar 10 tipos de relatórios gerenciais com informações dos processos aprovados e em
                andamento nas Secretarias, possibilitando a exportação dos dados para planilha Excel.</td>
        </tr>
        <tr>
            <th width="391">De Olho na Segurança</th>
            <td width="630">Site disponível na Internet para que os munícipes possam pesquisar os estabelecimentos que
                possuem Alvará de Funcionamento para locais de reunião ou que comprovam as condições de segurança.</td>
        </tr>
        <tr>
            <th width="391">De Olho na Obra</th>
            <td width="630">Permite consultar na Internet, as informações sobre obras em execução na Cidade de São
                Paulo. São apresentados ados do projeto com imagens de documentos - Requerimentos, Alvarás e Processos -
                Construção ou Reforma, permitindo ao cidadão saber o que está sendo construído ou reformado na cidade de
                São Paulo.</td>
        </tr>
        <tr>
            <th width="391">Autenticidade SISACOE/SLC II e SLC-e</th>
            <td width="630">Serviço disponível na internet para consultar a autenticidade de documentos de construção
                envolvidas eletronicamente.</td>
        </tr>
        <tr>
            <th width="391">Ficha Técnica WEB</th>
            <td width="630">A ficha técnica é o documento eletrônico emitido via internet que contém informações do lote
                quanto ao uso e ocupacao do solo.</td>
        </tr>
        <tr>
            <th width="391">Cadastro de Elevadores</th>
            <td width="630">Manter o Cadastro de Aparelhos de Transporte (Elevadores, escadas rolantes,...) e controle
                das Conservadoras. Emitir Notificações e Intimações, Registro das Ocorrências, Taxa Anual. Emitir via
                Internet a 2ª via da Taxa Anual com cálculo dos Juros em pagamentos após vencimento.</td>
        </tr>
        <tr>
            <th width="391">CADTEC - Dados Técnicos de Logradouros</th>
            <td width="630">Permite consultar através da rede interna da PMSP (Intranet) o Cadastro de Logradouros do
                Município de São Paulo; permite consultar por Código do Logradouro ou Nome (Atual e Anterior)., tendo
                como resultado o Nome oficial do Logradouro, a Legislações sobre Nome / Leito e Denominações Anteriores.
            </td>
        </tr>x
        <tr>
            <th width="391">BDT - Boletim de dados Técnicos</th>
            <td width="630">Reúne um conjunto de “sistemas legados”, extraindo dados  cadastrais de diversas Secretarias
                Municipais, visando a emissão dos documentos BDT e FICHA TÉCNICA (através da Internet). É acessado por
                outros sistemas, tais como: SLC-e, SLEA, Abertura de Empresas, entre outros.</td>
        </tr>
        <tr>
            <th width="391">FICAM - Ficha de Inscrição Cadastro de Manutenção</th>
            <td width="630">Efetuar o cadastramento da Ficha de inscrição para posteriormente efetuar a emissão do
                Certificado de Manutenção e Segurança que é o documento que comprova a manutenção dos sistemas de
                segurança das edificações conforme Decreto no. 32963/93.</td>
        </tr>
        <tr>
            <th width="391">IEOS - Intimação para Execução de Obras e/ou Serviços</th>
            <td width="630">Permite emitir eletronicamente os diferentes tipos de IEOS - Intimação para Execução de
                Obras, emitidos quando o munícipe solicita ou é intimado a requerer o documento de adaptação às normas
                de segurança, tais como: Auto de Verificação de Segurança, Alvará de Funcionamento de Local de Reunião,
                etc.</td>
        </tr>
        <tr>
            <th width="391">FICHAS - Sistema de Segurança de Edificações</th>
            <td width="630">Informatização do fichário da Coord. de Atividade Especial e Segurança de Uso - SEGUR.
                Permite cadastrar os locais que sofreram vistoria, interdição,blitz, intimação, etc., por todas as
                divisões do SEGUR, agilizando a consulta dos técnicos e mostrando todas as ocorrências existentes em um
                determinado endereço.</td>
        </tr>
        <tr>
            <th width="391">CADLORE - Cadastro de Local de Reuniões</th>
            <td width="630">Cadastrar locais onde ocorrem reuniões, acima de 250 pessoas, independente do tipo de
                atividade, tendo como objetivo emitir a FIR – Ficha de Inscrição de Local de Reunião, gerando assim um
                histórico de todas as atividades para uma mesma FIR.</td>
        </tr>
        <tr>
            <th width="391">PROJLEI - Projetos de Leis de Denominação</th>
            <td width="630">Cadastrar Projetos de Lei para denominar logradouro; emitir Parecer Técnico de denominação
                de logradouro e relatórios gerenciais.</td>
        </tr>
        <tr>
            <th width="391">ESTOQUE - Sistema de Estoque de Processos por Funcionários</th>
            <td width="630">Sistema de conversão de Banco de Dados oriundos da PRODAM, do sistema SIMPROC. Emite
                relatórios por unidade / funcionário pela última data de atualização e disponibiliza semanalmente o
                arquivo SISPRO.DAT.</td>
        </tr>
        <tr>
            <th width="391">Nomes de logradouros em Trânsito</th>
            <td width="630">Permite cadastrar todos os nomes de logradouros em trânsito, com ou sem número de
                legislação, não podendo haver duplicidades de nomes; permite consultas por nome, cadlog e processos, com
                opção de impressão.</td>
        </tr>
        <tr>
            <th width="391">Requerimento WEB</th>
            <td width="630">Permite que o requerimento de documentos para uso e ocupação do solo, seja preenchido
                diretamente na página de Internet, visando a obtenção de licença para construção, reforma ou
                reconstrução de edificações. Sistema desenvolvido especificamente para auxiliar na análise de processos
                administrativos, facilitando a geração de documentos em geral, a manipulação dos sistemas SIMPROC e
                SISACOE, a geração de planilhas de análise técnica e a emissão de alvarás e autos.</td>
        </tr>
        <tr>
            <th width="391">SISTANQUE - Cadastro de Estabelecimentos de Armazenamento de Combustíveis</th>
            <td width="630">Gerenciar as condições de instalação e armazenagem de líquidos combustíveis, inflamáveis,
                produtos químicos explosivos constantes nos postos de serviços e abastecimento, visando a segurança do
                local e imediações (Cadastramento e controle dos postos, fiscalização e registro das vistorias,) etc.
            </td>
        </tr>
        <tr>
            <th width="391"><a class="link" href="http://observasampa.prefeitura.sp.gov.br/">Observa Sampa</a></th>
            <td width="630">O Observatório de Indicadores da Cidade de São Paulo é uma plataforma online que reúne
                indicadores georreferenciados, em dados abertos, capazes de mensurar a qualidade devida dos paulistanos,
                o acesso a equipamentos, assim como indicadores de desempenho da PMSP.</td>
        </tr>
        <tr>
            <th width="391">Sistema de Agendamento Eletrônico</th>
            <td width="630">Permite ao munícipe agendar o horário e Técnico que se encontra analisando o processo, a fim
                de esclarecer dúvidas para o atendimento do Comunique-se; somente processos autuados na SEL/Sisacoe e
                que se encontram em aberto.</td>
        </tr>
        <tr>
            <th width="391">SLC-e - Licenciamento Eletrônico</th>
            <td width="630">Internet : destinado aos usuários que possuem cadastro no sistema Senha Web para acesso ao
                SLC-e. O usuário pode realizar uma nova solicitação ou dar continuidade a uma solicitação já existente
                na.Intranet : destinada aos usuários - analistas/engenheiros - responsáveis pela análise de projetos de
                edificações e verificação da veracidade e conteúdo das informações prestadas pelos munícipes.</td>
        </tr>
    </tbody>
</table>